@charset 'UTF-8';
/*
  Kopimi 2013-2017 iuri.neocities.org
	Use sem citar a fonte
*/
body {
	font-family:"Consolas","Monaco","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New","Monospace";
	/* font-weight:bold; essa foi a ideia mais idiota que eu ja tive em css */
}
main {
	height:100%;
}
footer {
  width:100%;
	padding:1em;
	position:fixed;
	bottom:0;
	box-shadow:0 -0.3em 0.3em 0.1em rgba(0,0,0,0.5);
}
nav {
	border-left:0;
	border-right:0;
	border-bottom:0;
}
nav li {
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	-moz-border-radius:0 0 5em 5em;
	-webkit-border-radius:0 0 5em 5em;
	-opera-border-radius:0 0 5em 5em;
	-khtml-border-radius:0 0 5em 5em;
	border-radius:0 0 5em 5em;
	-moz-box-shadow:inset 0 -0.5em 1em 0.1em rgba(0,0,0,0.5);
	-webkit-box-shadow:inset 0 -0.5em 1em 0.1em rgba(0,0,0,0.5);
	box-shadow:inset 0 -0.5em 1em 0.1em rgba(0,0,0,0.5);
}
nav a {
	padding:0.5em;
	border:0;
	text-decoration:none;
	/* text-weight:bold; daonde eu tirei isto? */
	font-size:large;
}
a {
	color:black;
}
a:hover {
	text-decoration:none;
}
.caixa {
	padding:1em;
	-moz-border-radius:2em;
	-webkit-border-radius:2em;
	-opera-border-radius:2em;
	-khtml-border-radius:2em;
	border-radius:2em;
	-moz-box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
	-webkit-box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
	box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
}
.caixa-25 {
	width:25%;
	height:100%;
}
.caixa-30 {
	width:30%;
	height:100%;
}
.caixa-33 {
	width:33%;
	height:100%;
}
.caixa-50 {
	width:50%;
	height:100%;
}
.caixa-70 {
	width:70%;
	height:100%;
}
.caixa-75 {
	width:75%;
	height:100%;
}
.caixa-100 {
	width:100%;
	height:100%;
}
.caixa p {
	padding:1em;
	text-align:justify;
}
.caixa ul {
	list-style-type:none;
}
.frase-autor {
	font-style:italic;
	text-size:medium;
	text-align:right;
}
.terminal {
	padding:0.5em;
	text-align:justify;
	background-color:black;
	color:white;
}
.terminal a {
	text-decoration:none;
	color:white;
}
.separador {
	padding:1em;
}
.hidden {
	display:none;
}
hr.inter-frase {
	margin-left:25%;
	width:75%;
}
hr.inter-autor {
	margin-right:25%;
	width:75%;
}
.horizontal ul li {
	display:inline;
}
span.email {
  color:white;
  background-color:black;
}
img.foto {
	border-radius:5em;
	box-shadow:0.3em 0.3em 0.5em 0.5em rgba(0,0,0,0.5);
}
.sombra {
	box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(0,0,0,0.5);
}