@charset 'UTF-8';
/*
  Kopimi 2013-2023 iuri.neocities.org
  Use sem citar a fonte
*/
body {
  font-family: "Consolas", "Monaco", "Lucida Console", 
    "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Courier New", "Monospace";
  /* font-weight: bold; essa foi a ideia mais idiota que eu ja tive em
   * css */
  background-image: url("./bg.jpg");
  background-repeat: repeat;
}
header {
  background-image: url("./bg.jpg");
  background-repeat: repeat;
}
main {
  height:100%;
  background-image: url("./bg.jpg");
  background-repeat: repeat;
}
footer {
  width:100%;
  padding: 1em;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -0.3em 0.3em 0.1em rgba(0,0,0,0.5);
}
nav {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-image: url("./bg.jpg");
  background-repeat: repeat;
}
nav li {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  -moz-border-radius: 0 0 5em 5em;
  -webkit-border-radius: 0 0 5em 5em;
  -opera-border-radius: 0 0 5em 5em;
  -khtml-border-radius: 0 0 5em 5em;
  border-radius: 0 0 5em 5em;
  -moz-box-shadow: inset 0 -0.5em 1em 0.1em rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 -0.5em 1em 0.1em rgba(0,0,0,0.5);
  box-shadow: inset 0 -0.5em 1em 0.1em rgba(0,0,0,0.5);
}
nav a {
  padding: 0.5em;
  border: 0;
  text-decoration: none;
  /* text-weight: bold; daonde eu tirei isto? */
  font-size: large;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
.btn,
.btn-small,
.btn-large,
.btn-xlarge,
.btn-action,
button,
input[type='submit'],
.btn-action-2,
.btn-action-2:visited,
.btn-action-3,
.btn-action-3:visited,
.btn-negative,
input[type='reset'],
button[type='reset'],
.btn-disable,
.btn-disable:hover,
[disabled] {
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  background: white;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, 
    sans-serif;
  font-size: 1em;
  line-height: 1;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  -webkit-appearance: none;
}
  .btn.btn-pad,
  .btn-pad.btn-small,
  .btn-pad.btn-large,
  .btn-pad.btn-xlarge,
  .btn-pad.btn-action,
  button.btn-pad,
  input.btn-pad[type='submit'],
  .btn-pad.btn-action-2,
  .btn-pad.btn-action-3,
  .btn-pad.btn-negative,
  input.btn-pad[type='reset'],
  .btn-pad.btn-disable,
  .btn-pad[disabled] {
    padding: 8px 16px;
  }
  .btn:hover, .btn:focus, .btn:active,
  .btn-small:hover,
  .btn-large:hover,
  .btn-xlarge:hover,
  .btn-action:hover,
  button:hover,
  input[type='submit']:hover,
  .btn-action-2:hover,
  .btn-action-3:hover,
  .btn-negative:hover,
  input[type='reset']:hover,
  .btn-disable:hover,
  [disabled]:hover,
  .btn-small:focus,
  .btn-large:focus,
  .btn-xlarge:focus,
  .btn-action:focus,
  button:focus,
  input[type='submit']:focus,
  .btn-action-2:focus,
  .btn-action-3:focus,
  .btn-negative:focus,
  input[type='reset']:focus,
  .btn-disable:focus,
  [disabled]:focus,
  .btn-small:active,
  .btn-large:active,
  .btn-xlarge:active,
  .btn-action:active,
  button:active,
  input[type='submit']:active,
  .btn-action-2:active,
  .btn-action-3:active,
  .btn-negative:active,
  input[type='reset']:active,
  .btn-disable:active,
  [disabled]:active {
    background: white;
    color: black;
  }
  .btn:visited,
  .btn-small:visited,
  .btn-large:visited,
  .btn-xlarge:visited,
  .btn-action:visited,
  button:visited,
  input[type='submit']:visited,
  .btn-action-2:visited,
  .btn-action-3:visited,
  .btn-negative:visited,
  input[type='reset']:visited,
  .btn-disable:visited,
  [disabled]:visited {
    color: black !important;
  }
.caixa {
  padding: 1em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -opera-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  -moz-box-shadow: 0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
  -webkit-box-shadow: 0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
  box-shadow: 0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
}
.caixa-25 {
  width: 25%;
  height: 100%;
}
.caixa-30 {
  width: 30%;
  height: 100%;
}
.caixa-33 {
  width: 33%;
  height: 100%;
}
.caixa-50 {
  width: 50%;
  height: 100%;
}
.caixa-70 {
  width: 70%;
  height: 100%;
}
.caixa-75 {
  width: 75%;
  height: 100%;
}
.caixa-100 {
  width: 100%;
  height: 100%;
}
.caixa p {
  padding: 1em;
  text-align: justify;
}
.caixa ul {
  list-style-type: none;
}
.frase-autor {
  font-style: italic;
  text-size: medium;
  text-align: right;
}
.terminal {
  padding: 0.5em;
  text-align: justify;
  background-color: black;
  color: white;
}
.terminal a {
  text-decoration:none;
  color: white;
}
.separador {
  padding: 1em;
}
.hidden {
  display: none;
}
hr.inter-frase {
  margin-left: 25%;
  width: 75%;
}
hr.inter-autor {
  margin-right: 25%;
  width: 75%;
}
.horizontal ul li {
  display: inline;
}
span.email {
  color: white;
  background-color: black;
}
img.foto {
  border-radius: 5em;
  box-shadow: 0.3em 0.3em 0.5em 0.5em rgba(0,0,0,0.5);
}
.sombra {
  box-shadow: 0.2em 0.2em 0.2em 0.1em rgba(0,0,0,0.5);
}
img.icone {
    height: 16px;
}
